* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #333;
}

#header h1{
    padding-top: 20px;
    
}

.menu {
    float: right;
}

.main-menu {
    list-style: none;
    float: left;   
}

.menu li {
    list-style: none;
    padding: 10px;
}

.main-menu a{
    text-align: center;
    padding: 20px;        
}

.sub1 {
    display: none;
    color: white;
    
}

.sub2 {
    display: none;
    color: white;
    
}

#Main {
    width: 100%;
    height: 600px;
    background-image: url("./../images/programming.jpg");
    
}

.container2 {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}



.intro {
    color: white;
    padding: 10px;
}

.container2 h1 {
    font-size: 50px;
}

#Aboutme {
    width: 100%;
    margin-bottom: 100px;
}

#Aboutme h1 {
    text-align: center;
    padding: 45px 0px 30px 0px;
    font-size: 50px;
    
}

.container3 {
    width: 100%;
    height: 200px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.container3-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    
    padding: 10px;
    
}

.container3-1-1 {
    font-size: larger;
    font-weight: bold;
}

.container3-1-3 {
    font-size: larger;
    font-weight: bold;
}

#Skills {
    background-color: rgb(206, 211, 220);
    height: 700px;
}

.inner {
    background-color: rgb(206, 211, 220);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
    
}

.skills_title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    margin-top: 50px;
}

.skills_container {
    width: 1000px;
    height: 500px;
    background-color: rgb(206, 211, 220);
    display: flex;
    justify-content: space-around;
}

.skills_container1 {
    margin-top: 20px;
    width: 280px;
    border-radius: 15px;
    height: 350px;
    background-color: white;
}

.skills_container1_title {
    font-size: 20px;
    font-weight: bold;
    
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.language_logo1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.language_logo2 {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-around;
        
}

.language_logo3 {
    display: flex;
    justify-content: space-around;
    height: 250px;
    flex-wrap: wrap;
    align-content: center;
}

.logoImg {
    width: 80px;
    height: 80px;
}

#Archive {
    width: 100%;
    height: 650px;
    background-color: rgb(51, 51, 51);    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.Archive_title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 900px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    margin-top: 50px;
}

.Archive_container {
    width: 900px;
    height: 500px;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
}

.Archive_container1 {
    margin-top: 30px;
    width: 320px;
    border-radius: 15px;
    height: 350px;
    background-color: white;
}

.Archive_container1_title {
    border-bottom: 1px solid #ccc;
    margin: 10px 10px 0 10px;
}

.icon {
    width: 50px;
    height: 50px;
    
}

.iconName {
    font-weight: 600;
    font-size: x-large;
    position: relative;
    bottom: 15px;
}

.Archive_container1_element {
    margin: 10px;
}

.a1 {
    color: #529AC7;
}

.list {
    margin: 10px 20px;
}

li {
    margin-bottom: 8px;
}

#Projects {
    width: 100%;
    height: 900px;
    background-color: rgb(255, 157, 57);    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.Projects_title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 900px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    margin-top: 50px;
}

.Projects_container {
    width: 900px;
    height: 500px;
    
    display: flex;
    justify-content: center;
}

.Projects_container1 {
    margin-top: 30px;
    width: 750px;
    border-radius: 15px;
    height: 400px;
    background-color: white;
}

.Projects_container1_title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #56585C;   
    margin: 20px 20px 0 20px;
}

.Projects_container1_title2 {
    text-align: center;
    font-size: 20px;
    margin: 0 30px 20px 30px;
    color: #9CA0A8;
    /* 보더라인 자꾸 색만 쓰지말고 굵기랑 스타일도 적어줘야함 계속 실수하네 */
    border-bottom: 1px solid #ccc;
}

.Projects_container1-1 {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
}

#imgWeb {
    width: 350px;
    height: 235px;
    border: 1px solid #333;
    
}

.Projects_container1-1_description {
    /* 또 보더라인 줄때 1px 솔리드 빼먹음 계속 실수함 */
    border-bottom: 1px solid #333;
    padding: 10px;
    margin-bottom: 20px;
}

.a2{
    color: blue;
}

.Projects_container1-1_information {
    display: flex;
    justify-content: space-between;

}

.Projects_container1-1_information_left {
    display: flex;
    height: 125px;
    flex-direction: column;
    justify-content: space-evenly;
}

.Projects_container1-1_information_right {
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-evenly;
}

.Projects_container1-1_information_text {
    font-size: 1.2rem;
    font-weight: 900;
}

.Projects_container1-1_information_text2 {
    
    font-weight: 530;
}